*{
	font-family: 'Segoe UI', sans-serif;
	text-align: center;
}

.block{
	width: 1920px;
	height: 846px;
	background-color: #1e1e2a;
	
	color: white;
	padding-top: 76px;
}

.block h1{
	
	font-weight: bold;
	font-size: 80px;
	line-height: 30px;
	padding-top: 180px;
}

.block p{
	padding-top: 62px;
	font-size: 18px;
	line-height: 30px;
}

.content{
	width: 1920px;
	height: 1044px;
	border: 2px solid black;
	color: #44494e;
	background-image:   url(../img/#1.png);
	 background-repeat: no-repeat;
    
    
}



.me {
	padding-left: 534px;
	padding-right: 534px;
	padding-top: 114px;
	
}

.me p{

font-size: 30px;
	line-height: 42px;
	padding-bottom: 46px;

}

.work{
	font-size: 80px;
	line-height: 36px;
	font-weight: bold;
	padding-top: 24px;


}



.list ul li{
	width: 328px;
	display: inline-block;
	list-style: none;
	font-size: 18px;
	line-height: 42px;
	font-weight: bold;
	text-align: left;
	
	

}
.about{
	padding-bottom: 3px;
	
}
.about ul li{
	display: inline-block;
	height: 150px;
	width: 320px;
	font-weight: 400;
	list-style: none;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	margin-right: 10px;
	color:rgb(136,138,139);
	


}
button{
	background-color: transparent;
	width: 45px;
	height: 45px;
	border-radius: 23px;
	border: 1px solid #fff;
	position: relative;
	color: #fff;
	margin-top: 184px;
	
}


}