@import url('https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto:300,700');


*{
	padding: 0;
	margin: 0;
}



body{
	width: 100%
}

.slide{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border:2px solid black;
	box-sizing: border-box;
	margin-top: 10%;

}
.slide h1{
font-family: "Raleway";
font-weight: 800;
font-size: 150px;
letter-spacing: 4px;
}

.slide h3{
	font-family: "Roboto";
font-weight: 300;
font-size: 24px;
letter-spacing: 1px;
line-height: 36px;
}

.slide p{
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 36px;
	color: rgb(225,0,17);
	font-family: "Roboto";
	font-weight: bold;
}
.slide .imag{
	float:right;
}

.pic{
	border:2px solid black;
	width: 65%;
	margin-left: 4%;
	margin-right: 4%;


}
.picture{
	width: 90%;
	height: 50%;
	border: 2px solid black;
	margin-left: 5%;
}

.pic h1{
font-size: 48px;
letter-spacing: 1px;
line-height: 150px;
color: rgb(48,48,48);
font-family: "Raleway";
font-weight: 800;
text-align: center;
}

.pic p{
	width: 35%;
	padding-left:35%;
font-size: 18px;
letter-spacing: 0px;
line-height: 24px;
color: rgb(48,48,48);
font-family: "Raleway";

}

.col img{
	width: 43%;
	height: 23%;
	padding-right: 3%;
	border-radius: 5px;
	background-color: #ededed;
	
}

.muz img{
	
	width: 20%;
	height: 23%;
	
	border-radius: 5px;
	background-color: #ededed;
	
	
	
}

.boots img{
	width: 20%;
	height: 23%;
	border-radius: 5px;
}

.design img{
	width: 20%;
	height: 23%;
	border-radius: 5px;
}

.tabl img{
	width: 20%;
	height: 23%;
	border-radius: 5px;
}